.carousel {
    margin-bottom: 4rem;
}
.carousel-item {
    height: 30rem;
}
#team{
    position: relative;
    right: -25%;
}
h4{
    font-family: Microsoft JhengHei;
    padding-top: 30px;
}
.row {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}
#t1{
    background-image: url("../images/1.jpg");
    background-repeat:no-repeat;
    background-position:0px -15px;
    width:160px;
    height:130px;
    opacity:0.8;
    margin-right: 3%
}
#t2{
    background-image: url("../images/2.jpg");
    background-position:-25px -15px;
    width:160px;
    height:130px;
    opacity:0.8;
    margin-right: 3%
}
#t3{
    background-image: url("../images/3.jpg");
    background-repeat:no-repeat;
    background-position:-29px -49px;
    width:160px;
    height:130px;
    opacity:0.8;
    margin-right: 3%
}
#t4{
    background-image: url("../images/4.jpg");
    background-repeat:no-repeat;
    background-position:-15px -15px;
    width:160px;
    height:130px;
    opacity:0.8;
    margin-right: 3%
}
#t5{
    background-image: url("../images/5.png");
    background-repeat:no-repeat;
    background-position:-35px -45px;
    width:160px;
    height:130px;
    opacity:0.8;
    margin-right: 3%
}
.musicrow {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
  
.month .prev {
    float: left;
    padding-top: 0px;
    margin-top: -18%;
    margin-left: -15%
}

.month .next {
    float: right;
    padding-top: 0px;
    margin-top: -18%;
    margin-right: -15%
}