html {
    height: 100%;
}
body {
    background-image: url('/images/landingBG.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#infoBar button {
    width: 100%;
}
.row {
    margin: 3%
}

#u2Video {
    width: 100%;
}

.played {
    color: red;
}