<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">
  <link href="../stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <% include ./navHeader.ejs %>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner pt-5">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
          focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" /></svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <img src="../images/index_navbar.JPG" class="d-block w-50" id="team">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
          focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" /></svg>
        <div class="container">
          <div class="carousel-caption">
            <img src="../images/index_navbar.JPG" class="d-block w-50" id="team">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
          focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" /></svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <img src="../images/index_navbar.JPG" class="d-block w-50" id="team">
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div style="text-align: center">
    <a href="/score">TO SCORE</a><br>
    <a href="/testScore">TO TEST SCORE</a><br>
    <a href="/chordDetecter">TO Chord Detecter</a>
  </div>

  <div class="mt-5">
    <h4>音樂頭條</h4>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FjHGZj2IjBk"
                allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="month">
        <button type="button" class="prev">&#10094;</button>
        <button type="button" class="next">&#10095;</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8">
    <h4>曲風</h4>
  </div>
  <div class="row" id="musicrow">
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-outline-primary" id="t1">西洋</button>
      <button type="button" class="btn btn-outline-secondary" id="t2">華語</button>
      <button type="button" class="btn btn-outline-success" id="t3">日語</button>
      <button type="button" class="btn btn-outline-danger" id="t4">韓語</button>
      <button type="button" class="btn btn-outline-warning" id="t5">粵語</button>
    </div>
  </div>

  </br>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"> <a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>