<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Noto+Sans+TC|Bebas+Neue&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=&display=swap" rel="stylesheet"> -->
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <% include ./navHeader.ejs %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="homeview">
        <div class="row mt-5"></div>
        <div class="row mt-5">
          <div class="col-md-8">
            <h1 class="text-center font-weight-bolder">AMAZ PU</h1>
            <hr id="line">
            <h3 class="text-center">
              <span class="font-weight-bold">吉</span>日起 &nbsp; 聲聲<span class="font-weight-bold"> Pu </span>息</h3>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12 ">
        <hr class="onestyle">
        <h4>CATEGORY</h4>
        <hr class="onestyle">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <form action="/searchDB/search_result" method="GET" id="category">
          <input type="text" class="d-none" name="search" id="input">
          <input type="button" class="btn btn-info btn-lg" value="西洋" onclick="goSearch(value)">
          <input type="button" class="btn btn-info btn-lg" value="華語" onclick="goSearch(value)">
          <input type="button" class="btn btn-info btn-lg" value="日語" onclick="goSearch(value)">
          <input type="button" class="btn btn-info btn-lg" value="流行" onclick="goSearch(value)">
          <input type="button" class="btn btn-info btn-lg" value="搖滾" onclick="goSearch(value)">
        </form>
      </div>
    </div>

    <div class="col-md-12 p-0">
      <hr class="onestyle">
      <h4>Pages</h4>
      <hr class="onestyle">
    </div>

    <div class="row">
      <div class="col-md-12 text-center" id="pages">
        <form action="/searchDB/all" method="GET" id="getAll">
          <button type="button" class="btn btn-secondary btn-lg" onclick="getAll()">all score</button>
        </form>
        <button class="btn btn-secondary btn-lg align-middle" onclick="a()">about</button>
        <button class="btn btn-secondary btn-lg" onclick="a()">contact</button>

      </div>
    </div>

  </div>

  <footer class="bg-dark text-light mt-5">
    <div class="text-center py-1">
      國立暨南國際大學 網站製作小組: AmazPu
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>